.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-bottom: 10px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #e6e6e6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #d9d9d9;
}

.clear {
  background-color: #d9534f;
  color: #fff;
}

.equal {
  background-color: #5cb85c;
  color: #fff;
}

.operator {
  background-color: #337ab7;
  color: #fff;
}

.operator:hover {
  background-color: #2e6da4;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
  .calculator {
    padding: 20px;
  }

  .display {
    font-size: 2rem;
    padding: 15px;
    margin-bottom: 10px;
  }

  .keypad {
    grid-gap: 10px;
  }

  button {
    padding: 15px;
    font-size: 1.5rem;
  }
}
